@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url(./fonts/HKGrotesk-Regular.otf);
}
@font-face {
  font-family: 'HKGrotesk-Light';
  src: url(./fonts/HKGrotesk-Light.otf);
}
@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url(./fonts/HKGrotesk-Bold.otf);
}

body {
  margin: 0;
  font-family: 'HKGrotesk-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'HKGrotesk-Bold';
  font-size: 48px;
}

.App {
  display: flex;
}

.sidebar {
  background: linear-gradient(#F8F8F8,#FBFAFF);
  width: 300px;
  height: 100vh;
  border-right: 1px solid #E5E5E5;
}

.header {
  background: white;
}

.page-content {
  padding-left: 4em;
  width: 100%;
}